<div class="card bg-dark text-white">
  <div class="card-header">{{ title }}</div>
  <div class="card-body">

    <form #clientForm="ngForm">
      <div class="form-group row">
        <label for="firstname" class="col-3 col-form-label">FirstName</label>
        <div class="col-9">
          <input [(ngModel)]="client.firstName" #firstName="ngModel" id="firstname" name="firstname" type="text"
                 class="form-control"
                 required="required"
                 minlength="4">
          <div class="alert alert-danger" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <div *ngIf="firstName.errors.required">
              FirstName is required
            </div>
            <div *ngIf="firstName.errors.minlength">
              FirstName must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="lastname" class="col-3 col-form-label">LastName</label>
        <div class="col-9">
          <input [(ngModel)]="client.lastName" #lastName="ngModel" id="lastname" name="lastname" type="text"
                 class="form-control"
                 required="required"
                 minlength="4">
          <div class="alert alert-danger" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <div *ngIf="lastName.errors.required">
              LastName is required
            </div>
            <div *ngIf="lastName.errors.minlength">
              LastName must be at least 4 characters long.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-3 col-form-label">Email</label>
        <div class="col-9">
          <input [(ngModel)]="client.email" #email="ngModel" id="email" name="email" type="text" class="form-control"
                 required="required" email>
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              email is required
            </div>
            <div *ngIf="email.errors.email">
              email must have a valid format
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-3 col-9">
          <button name="submit" [disabled]="clientForm.form.invalid" type="submit" class="btn btn-primary"
                  (click)="create()"
                  *ngIf="!client.id else elseBlock">
            Save
          </button>

          <ng-template #elseBlock>
            <button name="submit" [disabled]="clientForm.form.invalid" type="submit" class="btn btn-primary"
                    (click)="update()">
              Update
            </button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
